<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368435984406-gbr0grhp76meqoomuq0je4h69msrf2sp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368435984406-gbr0grhp76meqoomuq0je4h69msrf2sp</string>
	<key>API_KEY</key>
	<string>AIzaSyCrFTukUXzZPnzob1Oqj44tQqgRUMZKweM</string>
	<key>GCM_SENDER_ID</key>
	<string>368435984406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>noone.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-ee81a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-ee81a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368435984406:ios:25dc361df6ef9b8ac5dd37</string>
</dict>
</plist>